body{
  text-align: center;
  margin: 0px;
  background-image: url("bg.jpg");
  background-size: auto;
}
h1{
  text-align : center;
  margin: 0px ; padding: 20px;
  margin-bottom: 10px;
}
ol{
  padding: 0px;
  padding-top: 0px;
  margin: 0px;
  width : 181px;
}
li{
  width : 100px;
  margin: 0; padding : 40px;
  font-size: 25px;
  font-weight: bold;
  list-style: none;
}
a{
  color : WHITE ;
  text-decoration: none;
}
#grid{
  display: grid;
  grid-template-columns: 181px 1fr;

}
#grid #movie{
  text-align: center;
}
